@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
--root {
  --title-color: #1f1f1f;
}

body {
  background: ghostwhite;
  color: #282828;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

@keyframes alay {
  0% {
    transform: translateY(-6vh);
  }
  50% {
    transform: translateY(6vh);
  }
  100% {
    transform: translateY(-6vh);
  }
}
@keyframes bordera {
  0% {
    border-color: aqua;
  }
  50% {
    border-color: #e87c7c;
  }
  100% {
    border-color: aqua;
  }
}
@keyframes morph {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes logoanim {
  0% {
    color: aqua;
  }
  50% {
    color: indianred;
  }
  100% {
    color: aqua;
  }
}
.navbar {
  background-color: black;
}
.navbar .logo {
  padding-left: 0.5vw;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 2.5em;
}
.navbar .logo span {
  color: aqua;
  outline-color: #1f1f1f;
  outline-width: thick;
}
.navbar .logo span:hover {
  animation: logoanim 4s infinite;
}
.navbar .subhead {
  display: flex;
}
.navbar nav {
  display: none;
}
.navbar .container {
  vertical-align: middle;
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  padding-right: 0.5vw;
  background-size: 0.5em;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(28deg) brightness(106%) contrast(101%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero .gwpng {
  display: none;
}

div.left-col {
  line-height: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}
div.left-col h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-shadow: #ffffff 0 0.1em;
}
div.left-col .subhead {
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
div.left-col .download-CV {
  text-decoration: none;
  color: #1f1f1f;
  background: #7cb2e1;
  font-size: 1.2em;
  margin: 1em;
  padding: 0.3em 0.8em;
  border-radius: 1.5em;
  font-weight: lighter;
  display: inline-block;
}
div.left-col .download-CV:hover {
  animation: morph 3s infinite;
}

section.Perks {
  margin: 0;
  padding: 0;
  display: grid;
}
section.Perks ul.perk-list {
  padding-top: 6vh;
  text-align: center;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  font-size: 1.5em;
  font-weight: bold;
}
section.Perks ul.perk-list li {
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  position: relative;
  /*    &:before{
        content:'';
        alignment: center;
        margin: 0.3em;
        vertical-align: text-bottom;
        left: -1.5em;
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../images/bullet.svg');
        background-size: contain;
        display: none;
      }*/
}

.Perks img {
  display: none;
}

.music img {
  height: 2rem;
  vertical-align: text-bottom;
  margin-left: 0.5em;
}

.Skills {
  margin: 1em;
  text-align: center;
  padding: 1em;
}
.Skills .h2 {
  padding-top: 10px;
}
.Skills ul.skillist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
.Skills .one {
  border-radius: 1em;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 0.5em;
}
.Skills .one .icon {
  height: 5vh;
}
.Skills .one .skill-list {
  background: transparent;
  border-color: #e87c7c;
  border-radius: 0 0 1em 1em;
  padding-bottom: 1em;
}
.Skills .one .skill-list .two {
  border-bottom: 0.2em solid #e87c7c;
}

.contact-section label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: #7cb2e1;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: springgreen;
  border: none;
  margin-bottom: 5em;
  font-weight: bold;
  border-radius: 2em;
  cursor: pointer;
}

.projects .webber {
  border: 0.2em solid rgba(0, 0, 0, 0.13);
}
.projects p {
  text-align: justify;
}
.projects h1 {
  text-align: center;
}
.projects .h2 {
  text-decoration: none;
  font-style: normal;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: auto;
  right: 0;
  top: 0;
  background: rgba(31, 31, 31, 0.57);
  height: 80vh;
  padding: 1em;
}
nav ul.navbar-nav {
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

.mobile-menu-exit {
  float: right;
}

.sub-head {
  font-size: 3em;
  text-align: center;
}

.audio-work h2, .audio-work h4 {
  text-align: center;
}
.audio-work ul.audio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 3fr));
  text-align: center;
}
.audio-work .player {
  width: 15em;
}

.tech-code {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 3fr));
}

footer {
  background: #312223;
}

.post-hero {
  margin: 0;
  padding: 0;
  align-content: center;
  align-items: center;
}
.post-hero .try {
  margin-left: 20vw;
}
.post-hero .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
}
.post-hero .perk-list {
  align-content: center;
}
.people {
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}
.people p {
  text-align: justify;
}
.people .caption {
  font-style: italic;
  text-align: center;
}
.people .people-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  column-gap: 5vw;
}

@keyframes fadein {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .perk-list li.satu {
    animation: alay 10s infinite;
  }
  .perk-list li.dua {
    animation: alay 10s 0.25s infinite;
  }
  .perk-list li.tiga {
    animation: alay 10s 0.5s infinite;
  }

  .hero {
    text-align: center;
    padding-top: -13vh;
  }
  .hero .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  }
  .hero .gwpng {
    display: grid;
    height: 48vh;
    padding-left: 10vw;
  }
  .hero .left-col {
    position: relative;
    padding-top: 10em;
    padding-right: 10vw;
  }

  .navbar {
    width: 100vw;
    position: fixed;
    z-index: 999;
    opacity: 0.7;
  }
  .navbar:hover {
    animation: fadein 1s;
    opacity: 100;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav ul li:hover {
    font-weight: bolder;
  }
  .navbar nav a {
    color: white;
    font-size: 1.5em;
    padding: 0.1em 1em 0.5em 0.5em;
    margin-top: 0.5em;
  }
  .navbar nav ul.navbar-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }

  .project {
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 2fr));
    grid-column-gap: 5vw;
  }
  .project .project-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 2fr));
  }
  .project .project-item .gambar {
    height: 30vh;
  }
}

/*# sourceMappingURL=main.css.map */
